/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common styles or utilities */
* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #562eff;
  color: #ffffff;
  width: 100%;
  height: 94px;
  display: flex;
  justify-content: center;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 876px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}
.logo-icon img {
  height: 51px;
  width: 40px;
}
.logo-text{
    font-size: 24px;
    margin-left: 15px;
}
.menu-items {
  display: flex;
  gap: 36px;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
.menu-items a {
  text-decoration: none;
  color: #ffffff;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #ffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}

/* top plyers style */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  height: 56px;
  width: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* top blog styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  font-size: 16px;
  color: #9f9f9f;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}

/* course style */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-column-gap: 24px; */
}
.course {
  width: 252.42px;
  height: 269.79px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 16px;
}
.course-duration {
  display: flex;
  border-radius: 194.83px;
  height: 29.38px;
  width: 94.83px;
  justify-content: center;
  align-items: center;
}
.course-duration.first,
.third {
  color: #ff4a60;
  background-color: #ffe4e8;
}
.course-duration.second {
  color: #ed6b4f;
  background-color: #fee5df;
}
.course-duration p {
  margin-left: 5px;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
}
.coure-title {
  color: #1e1e1e;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}

/* Media Queries */

/* Mobile Devices */

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  .blogs,  .courses {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  nav {
    flex-direction: column;
    width: 100%;
  }
  .menu-items {
    flex-direction: column;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
}
